

/* police d'écriture */
body{
    font-family: sans-serif;
    color: #ffffff;
    background-color: #212121;
}

/* margine de la page */
body{
    margin: 0px;
    padding: 0px;
    margin-top: 0%;
}

/* banniere */
.template{
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    width: auto;
    height: 150px;
    background-color: #212121;
}

/* flex sur le middle */
.middle{
    display: flex;
    justify-content: space-evenly;
    height: 700px;
}

/* partie de gauche au middle */
#left{
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    width: 20%;
    background-color: #373737;
}

/* partie de droite au middle */
.right{
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    color: #ffffff;
    background-color: #6b6b6b;
    width: 85%;
    height: 100%;
}

/* date de modifications */
.down{
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    background-color: #212121;
    height: 50px;   
}

#photo{
    width: 75%;
    height: 25%;
    margin-top: 10px;
    margin-left: 500%;
}

#right{
    justify-content: space-around;
}
.presentation{
    margin: 5px;
    padding: 0px;
    width: 40%;
}

.photo{
    display: flex;
    justify-content: center;
    margin: 5px;
    padding: 0px;
    width: 15%;    
}



.button{
    height: 40px;
    margin: 10px 20px;
    border-radius: 50px;
    padding-top: 1px;
    background-color: #6b6b6b;
    width: 75%
}

#left{
    display: flex;
    flex-direction: column;
    text-align: center;

}


.button:hover{
    background-color: #ffffff;
    color: #515151;
    padding: 1px 20px;
}

a{
    text-decoration: none;
    color: #ffffff; 
}


/* full screen */
div.full{
    width: 100%;
    height: 100%;
}

#template_gif{
    width: 35%;
}


/* ###########################  SOUS MENU  ########################### */

#menu-vertical, #menu-vertical ul {
    padding:0;
    margin:0;
    list-style:none;
    width: 180px; /* seule ligne rajoutée */
  }


#menu-vertical li {
    position: relative;
    background:#EFEFEF; /* juste pour cacher le texte de la page en-dessous */
    margin: 20px 0px;
    padding: 10px;
    border-radius: 20px;
}

  #menu-vertical a {
    display:block;
    text-decoration: none;
    color: #000;
  }


  #menu-vertical ul {
    position: absolute;
    left:-999em;
  }

  #menu-vertical li:hover ul {
    top: 0;
    padding: 10px;
    left: 180px;
  }

/* #################################  FRAME  ################################## */

.qrcode{
    width: 30%;
    height: 30%;
}


.droite{
    display: flex;
    height: 100%;

    width: 100%;
    background-color: #6b6b6b;
}
iframe{
    width: 100%;
    height: 100%;
}

.acceuil{
    background-color: #6b6b6b;
    margin: 5%;
}

.contact{
    margin: 2%;
}


.stages{
    margin-left: 2%;
}