/*Police Milky Coffee*/
@font-face{
	font-family: 'Milky Coffee';
	src:url(assets/Milky.ttf) format('truetype');
}

body{
	background-color: #383838;
	color: #fff;
	font-family: sans-serif;

}

/*Barre Menu*/
#intro{
	background-color: #04F1BF;
	display: flex;
	padding: 0px 40px;
}

/*titre*/
#intro h1{
	color: #fff;
	font-family: 'Milky coffee', sans-serif;
	font-size: 4em;
}

/*mettre à droite le titre*/
#rightBox{
	margin-left: 80px;
}

/*texte Etudiant*/
#student{
	text-align: center;
	color: #A8A8A8;
}

/*L'image*/
img{
	width: 200px;
}

/*image dans la catégories informations*/
#listInfo{
	background-image: url(assets/snow.jpg);
	background-repeat: no-repeat;
	background-size: 200%; 
	display: flex;
	text-align: center;
	justify-content: center;
	list-style-type: none;

}



/*ombre de l'image*/
img{
	box-shadow: 4px 4px 8px #000;
}

/*mettre de l'espace au informations sur moi*/
.space{
	padding: 25px;
	font-weight: bold;

}

/*surlignage*/
strong{
	background-color: #00CD83;
}


/*lien*/
#def{
	color: #f00;
	font-weight: bold;
	text-decoration: none;
}


/*bordure*/
.border{
	border: 4px dashed white;
	padding-left: 25px;
}


/*compte linkedin*/
.space a{
	text-decoration: none;
	color: #ff0000;
	font-weight: bold;
}



/* download */
.download{
	color: #ffffff;
	text-decoration: none;
	display: flex;
	justify-content: center;
}


.certificate{
	width: 200px;
	height: 100px;
}